/***************************************************              GENERAL RESET STYLES             ***************************************************/

:root {
  --primary-text-color: #484847;

}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
* {box-sizing: border-box;}
*:focus {outline: none;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {list-style:none;}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
		text-decoration:none;
    color: inherit;
}
a:hover {text-decoration:none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}

img {
	border-style:none;
	max-width:100%;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
input, textarea, select {
	vertical-align:middle;
	color:#000;
	padding:0;
}
input, select {vertical-align:middle;}
input::-webkit-input-placeholder{color:#000;}
input:focus::-webkit-input-placeholder{color:#000;}
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
body {
  color: var(--primary-text-color);
}
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}

.layout {
  display: block;
  position:relative;
  overflow: hidden;
  max-width:1074px;
	margin: 0 auto;
}

header,
main,
footer,
section{
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

#content {
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
}


.hidden {
  text-indent: -9999px;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

header .layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 144px;
  max-width: 1074px;
}

.header-logo {
  max-width: 246px;
}

nav {
  display: flex;
}

.nav-menu{
  display: flex;
  gap: 25px;
  padding: 0 14px;
  margin: 0 57px 0 57px;
  border-bottom: 0.5px solid #4B6049;

  font-family: Candara;
  font-size: 26px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}

.user-utilities{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.user-utilities img{
  max-height: 36px;
  max-width:100%;
}



/* ------------------------------First-View Section */

.first-view{
  /* display: flex;
  flex-direction: row-reverse;
  /* max-height: 804px; */
  /* position: relative; */
  display: flex;
  overflow: hidden;
  width: 100%;
  height: fit-content;
}

.first-view .img-holder{
  display: block;
  /* justify-content: flex-end; */
  max-width: 1123px;
  /* width: 58%; */
  max-height: 804px;
  z-index: 1;
  position: relative;
  margin: 0 0 0 auto;
}

.first-view .img-holder img{
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.first-view .text{
  position: absolute;
  width: 55.93%;
  margin-top: 75px;
  margin-left: 22%;
  margin-right: 22%;
  /* height: 653px; */
/* margin: 75px auto auto auto; */
  max-height: 653px;
  /* overflow: visible; */
  z-index: 2;
  text-align: left;
}

.first-view .text h2{
  max-width: 580px;
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #484847;
  margin: 0 0 92px 0;
}

.first-view .text p {
  max-width: 490px;
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #484847;
  margin: 0 0 92px 0;
}

.first-view .text a {
  font-family: Candara;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
  padding: 10px 64px;

  max-width: 219px;
  max-height: 59px;
  margin: 0 0 87px 0;
  background-color: #4B6049;
  color: #FFFBF5;
}



.novelty{
    display: flex;
    justify-content: center;
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    margin: 0 0 100px 0;
    /* max-height: 804px; */
    /* position: relative; */
  }

  .novelty .img-holder{
    position: relative;
    z-index: 1;
    display: block;
    max=width: 1920px;
    height: 100%;
    /* z-index: 1;
    position: relative; */
  }

  .novelty .img-holder img{
    width: 100%;
    height: 100%;
    min-height: 238px;
    display: block;
    overflow: hidden;
  }

/* .novelty-title {
  margin: 65px auto 60px 216px;
}

.novelty-text {
margin-left: 423px;
} */

.novelty .radio-btn form{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 5.21%;
  margin-left: 47.39%;
  margin-top: -40px;
}

.radio-btn form input{
   width: 20px;
   height: 20px;
   accent-color: #4B6049;
}

.novelty .catalogue-btn {
  display: block;
  overflow: hidden;
  text-align: center;
  font-family: Candara;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  padding: 10px 64px;

  max-width: 219px;
  max-height: 59px;
  margin: 38px auto 0 auto;
  background-color: #4B6049;
  color: #FFFBF5;
}



.blog {
  margin: 0 auto 100px auto;
}

.blog .layout ul {
  display: flex;
  flex-direction: column;
  gap: 123px;
  margin: 0 auto 91px auto;
}

.blog .layout li {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blog .img-holder{
  display: block;
  min-width: 328px;
  height: 100%;
}

.blog .img-holder img{
  width: 100%;
  height: 100%;
  /* min-height: 347px; */
  display: block;
  overflow: hidden;
}

.blog .text {
  max-width: 522px;
}

.blog h3 {
  margin: 0 0 12px 0;
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.blog p {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #484847;
}

.blog a img{
  margin: 12px 0 0 0;
  width: 235px;
  height: 50px;
}

.blog .show-more-btn{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 65px;
}



.footer-quick-contacts ul{
  /* float: right; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  padding-bottom: 8px;
  height: fit-content;
}

.footer-main {
  background-color: #4B6049;
  min-height: 192px;
}

.footer-main .layout{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.footer-logo {
  max-width: 232px;
  max-height: 134px;
  margin: 29px 87px 28px 15px;
}

.footer-main-content{
  display: flex;
}

.footer-nav{
  margin: 38px 39px 25px 0;
}

.footer-main-content .working-hours{
  margin: 38px 53px auto 0;
}

footer h3{
  font-weight: 400;
}

.footer-main-content .contacts{
  margin: 36px auto auto 0;
}

.footer-main-content .footer-nav,
.footer-main-content .working-hours,
.footer-main-content .contacts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFBF5;
}

.footer-main .payment-methods{
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  padding: 17px 0 0 56px;
  /* position: absolute;
  /* top: 90%; */
  /* left: 76%;
  bottom: 12px; */
}

.footer-main .payment-methods .mastercard{
  width: 52px;
  height: 32px;
}

.footer-main .payment-methods .visa-apay {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
}

.footer-main .payment-methods .visa img{
  width: 76px;
  /* height: 24px; */
}

.footer-main .payment-methods .apay img{
  width: 82px;
  height: 34px;
}
