/***************************************************              GENERAL RESET STYLES             ***************************************************/

:root {
  --primary-text-color: #484847;
  --secondary-text-color: #FFFBF5;
  --primary-header-color: #000000;
  --primary-accent-color: #4B6049;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    scroll-behavior: smooth;
}
* {box-sizing: border-box;}
*:focus {outline: none;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {list-style:none;}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
		text-decoration:none;
    color: inherit;
}
a:hover {text-decoration:none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}

img {
	border-style:none;
	max-width:100%;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
input, textarea, select {
	vertical-align:middle;
	color:#000;
	padding:0;
}
input, select {vertical-align:middle;}
input::-webkit-input-placeholder{color:#000;}
input:focus::-webkit-input-placeholder{color:#000;}
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
body {
  color: var(--primary-text-color);
  font-family: "Candara";
  font-weight: 400;
  font-size: 26px;
}

#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}

.layout {
  display: block;
  position:relative;
  overflow: hidden;
  max-width:1074px;
	margin: 0 auto;
}

header,
main,
footer,
section{
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

#content {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}



/* ------------------------------Navigation Section */

.hidden {
  text-indent: -9999px;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

header .layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 144px;
  margin: 11px auto 0 auto;
}

.header-logo {
  max-width: 246px;
}

header .layout a{
  height: 144px;
}

nav {
  display: block;
  margin: 0 auto;
}

.nav-menu{
  display: flex;
  /* gap: 25px; */
  justify-content: space-between;
  gap: 20px;
  max-width: 564px;
  padding: 0 14px;
  /* margin: auto 57px; */
  border-bottom: 0.5px solid var(--primary-accent-color);
  font-weight: 300;
  line-height: 1.23;
  text-align: left;
}

.nav-menu li{
  transition: all 300ms ease-in-out;
}

.nav-menu li:hover{
  transform: scale(1.1);
}

.user-utilities{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.user-utilities a{
  display: block;
  width: 39px;
  height: 39px;
}

.nav-cabinet a,
.nav-favorite a,
.nav-basket a {
  transition: all 500ms ease-in-out;
}

.nav-cabinet a:hover,
.nav-favorite a:hover,
.nav-basket a:hover {
  transform: rotate(360deg);
}

.nav-cabinet a{
  background: url("../images/iconcabinet.svg") no-repeat center;
}

.nav-cabinet a:hover{
  background: url("../images/icon_cabinet_hover.svg") no-repeat center;
}

.nav-favorite a{
  background: url("../images/iconfavorite.svg") no-repeat center;
}

.nav-favorite a:hover{
  background: url("../images/icon_favorite_hover.svg") no-repeat center;
}

.nav-basket a{
  background: url("../images/iconbasket.svg") no-repeat center;
}

.nav-basket a:hover{
  background: url("../images/icon_basket_hover.svg") no-repeat center;
}

/* .user-utilities .front{
  max-height: 39px;
  max-width:100%;
}

.user-utilities .back{
  max-height: 39px;
  max-width:100%;
} */

/* .favorite .image{
  margin: 0 20px;
}

.front,
.back {
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.3s linear;
}
.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(180deg);
}

.image:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.image:hover > .back {
  transform: perspective(600px) rotateY(0deg);
} */



/* ------------------------------First-View Section */

.first-view{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: fit-content;
}

.first-view .img-holder{
  display: block;
  max-width: 1123px;
  /* width: 58%; */
  max-height: 804px;
  position: relative;
  z-index: 1;
  margin: 0 0 0 auto;
}

.first-view .img-holder img{
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.first-view .text{
  position: absolute;
  z-index: 2;
  width: 55.93%;
  max-height: 653px;
  margin-top: 75px;
  margin-left: 22%;
  margin-right: 22%;
  text-align: left;
}

.first-view .text h2{
  max-width: 580px;
  font-family: 'Poiret One';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.17;
  color: var(--primary-text-color);
  margin: 0 0 92px 0;
}

.first-view .text p{
  max-width: 490px;
  line-height: 1.23;
  color: var(--primary-text-color);
  margin: 0 0 100px 0;
}

.first-view .catalogue-btn-container {
  display: block;
  width: 219px;
  height:59px;
  position: relative;
  top: -8px;
  left: 8px;
  border: 1px solid var(--primary-accent-color);
}

.first-view .text a {
  display: block;
  overflow: hidden;
  max-width: 219px;
  max-height: 59px;
  padding: 10px 64px 10px 64px;
  margin: 8px 8px -8px -8px;
  text-align: center;
  line-height: 150%;
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
  transition: all 300ms ease-in-out;
}

.first-view .text a:hover {
  transform: translateY(-8px) translateX(8px);
}

.first-view .text a:focus {
   outline: none;
}



/* ------------------------------ Banner Section */

.novelty{
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 0 0 100px 0;
}

.novelty .img-holder{
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  max-width: 1920px;
  height: 100%;
}

.novelty .img-holder img{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 238px;
}

.novelty .radio-btn form{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 5.21%;
  margin-left: 47.39%;
  margin-top: -40px;
}

.radio-btn form input{
  width: 20px;
  height: 20px;
  accent-color: var(--primary-accent-color);
}

.novelty .catalogue-btn-container {
  display: block;
  width: 219px;
  height:59px;
  position: relative;
  top: -8px;
  left: 8px;
  border: 1px solid var(--primary-accent-color);
  margin: 42px auto 109px auto;
}

.novelty .catalogue-btn-container a {
  display: block;
  overflow: hidden;
  max-width: 219px;
  max-height: 59px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 64px;
  margin: 8px 8px -8px -8px;
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
  transition: all 500ms ease-in-out;
}

.novelty .catalogue-btn-container a:hover {
  transform: translateY(-8px) translateX(8px);
}

.novelty .catalogue-btn-container a:focus {
   outline: none;
}



/* ------------------------------Blog Main-Page Section */

.blog ul {
  display: flex;
  flex-direction: column;
  gap: 123px;
  margin: 0 auto 91px auto;
}

.blog li {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blog .img-holder{
  display: block;
  overflow: hidden;
  min-width: 328px;
  height: 100%;
}

.blog .img-holder img{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.blog .text {
  max-width: 522px;
}

.blog h3 {
  color: var(--primary-header-color);
  margin: 0 0 12px 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.23;
}

.blog p {
  line-height: 1.23;
}

.blog .more-details-btn{
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  border: 1.5px solid var(--primary-accent-color);
  margin: 12px auto 0 0;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-accent-color);
  text-align: center;
}

.blog .more-details-btn::after {
  content: url("../images/icon_arrow_right.png");
  position: absolute;
  right: -38px;
  width: 70px;
  opacity: 0;
}

.blog .more-details-btn:hover::after {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.show-more {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.show-more-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  border: 1.5px solid var(--primary-accent-color);
  position: relative;
  font-size: 20px;
  line-height: 1;
  color: var(--primary-accent-color);
}

.show-more-btn::after {
  content: url("../images/icon_arrow_down.png");
  position: absolute;
  top: 36px;
  opacity: 0;
}

.show-more-btn:hover::after {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}



/* ------------------------------Footer Upper Section */

.footer-quick-contacts ul{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-bottom: 8px;
}

.footer-instagram,
.footer-email,
.footer-phone,
.footer-location {
  width: 50px;
  height: 50px;
  transition: all 500ms ease-in-out;
}

.footer-instagram{
  background: url("../images/icon_instagram.png") no-repeat center;
}

.footer-email{
  background: url("../images/icon_email.png") no-repeat center;
}

.footer-phone{
  background: url("../images/icon_phone.png") no-repeat center;
}

.footer-location{
  background: url("../images/icon_location.png") no-repeat center;
}

.footer-instagram:hover,
.footer-email:hover,
.footer-phone:hover,
.footer-location:hover{
  transform: rotate(360deg);
}

.footer-instagram:hover{
  background: url("../images/icon_instagram_hover.png") no-repeat center;
}

.footer-email:hover{
  background: url("../images/icon_email_hover.png") no-repeat center;
}

.footer-phone:hover{
  background: url("../images/icon_phone_hover.png") no-repeat center;
}

.footer-location:hover{
  background: url("../images/icon_location_hover.png") no-repeat center;
}



/* ------------------------------Footer Main Section */

.footer-main {
  background-color: var(--primary-accent-color);
  min-height: 192px;
}

.footer-main .layout{
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.footer-logo {
  margin: auto 85px auto 15px;
  display: flex;
  align-self: center;
}

.footer-nav{
  margin: 38px 36px 25px 0;
}

.working-hours{
  margin: 38px 50px auto 0;
}

.working-hours h3{
  font-weight: 400;
}

.footer-last {
  margin-top: 36px;
}

.footer-main .footer-nav,
.footer-main .working-hours,
.footer-main .footer-last{
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 20px;
  line-height: 150%;
  color: var(--secondary-text-color);
}

.footer-main .payment-methods ul{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 25px;
  padding: 17px 0 0 58px;
}

footer .mastercard,
footer .visa,
footer .apay{
  transition: all 500ms ease-in-out;
}

footer .mastercard{
  background: url("../images/icon_mastercard.png") no-repeat center;
  width: 52px;
  height: 32px;
}

footer .visa{
  background: url("../images/icon_visa.png") no-repeat center;
  width: 76px;
  height: 24px;
}

footer .apay{
  background: url("../images/icon_apay.png") no-repeat center;
  width: 82px;
  height: 34px;
}

footer .mastercard:hover,
footer .visa:hover,
footer .apay:hover{
 transform: rotate(360deg);
}

footer .mastercard:hover{
  background: url("../images/icon_mastercard_color.png") no-repeat center;
}

footer .visa:hover{
  background: url("../images/icon_visa_color.png") no-repeat center;
}

footer .apay:hover{
  background: url("../images/icon_apay_color.png") no-repeat center;
}

.main-scroll {
  position: fixed;
  z-index: 2;
  width: 50px;
  height: 50px;
  left: 80.5%;
  top: 271px;
}



/* ------------------------------Catalogue Aside*/

.catalogue aside{
  width: 226px;
}



/* ------------------------------Catalogue Items Section */

.catalogue{
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.sort-filter {
  display: inline-block;
  position: relative;
  width: 260px;
  height: auto;
  cursor:pointer;
  margin: 67px auto 8px 0;
}

.btn-sort{
  border:none;
  background-color: inherit;
  margin-bottom: 23px;
  /* font-family: "Candara", sans-serif; */
  font-size: 20px;
  font-weight: 400;
  line-height: 24.41px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 3;
  top: 18px;
  overflow: auto;
  width: 260px;
  padding: 10px;
  margin-top: 13px;
  background-color: white;
  border: 0.5px solid var(--primary-accent-color);
}

.dropdown-menu li{
  line-height: 1.5;
  transition: all 300ms ease-in-out;
}

.dropdown-menu li a{
  font-size: 20px;
  line-height: 1.5;
  text-decoration-line: underline;
}

.sort-filter:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li:hover,
.dropdown-menu li:focus{
  color: #FFFBF5;
  background-color: rgba(75, 96, 73, 0.7);
}

.dropdown-menu li:active{
  color: #FFFBF5;
  background-color: #4B6049;;
}

.catalogue-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 840px;
  margin-bottom: 43px;
}

.catalogue-cards li{
  max-width: 261px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 13px 13px 10px 12px;
  border: 0.5px solid var(--secondary-text-color);
}

.catalogue-cards li:hover{
  border: 0.5px solid var(--primary-accent-color);
}

.catalogue-cards .img-holder{
  display: block;
  overflow: hidden;
  position: relative;
  max-width: 234px;
  height: 100%;
}

.catalogue-cards .item-pic{
  display: block;
  overflow: hidden;
  max-width: 234px;
  max-height: 233px;
  position: relative;
  z-index: 1;
  margin-bottom: 13px;
}

.catalogue-cards .item-icon{
    position: absolute;
    z-index: 2;
    background: url("../images/icon_favorite.png") center no-repeat;
    width: 36px;
    height: 36px;
    right: 0;
    top: 0;
    border: none;
}

.catalogue-cards .item-icon:hover{
    background: url("../images/icon_favorite_hover.png") center no-repeat;
}

.catalogue-cards{
  max-width: 1074px;
}

.catalogue-cards h4{
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  min-height: 60px;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.catalogue-cards p{
  display: block;
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.catalogue .item-extra{
  display: flex;
  justify-content: space-between;
}

.catalogue .item-extra a{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-top: 20px;
  margin-bottom: 11px;
  transition: all 300ms ease-in-out;
}

.catalogue .item-extra a:hover{
  transform: scale(1.1);
}

.tobasket-btn-container {
  display: block;
  width: 97px;
  height:25px;
  position: relative;
  /* top: 3.6px;
  left: 3.6px; */
  border: 0.5px solid var(--primary-accent-color);
  margin: 16px 0 0 0;
}

.tobasket-btn-container button{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  width: 97px;
  height: 25px;
  padding: 2px 13px 2px 13px;
  margin: 3.6px 3.6px -3.6px -3.6px;
  color: var(--secondary-text-color);
  background-color: var(--primary-accent-color);
  /* background: url("../images/btn_to_basket.png") center no-repeat; */
  border: none;
  transition: all 300ms ease-in-out;
}

.tobasket-btn-container button:hover {
  transform: translateY(-4.6px) translateX(3px);
}

.tobasket-btn-container button:focus {
   outline: none;
}

.catalogue-cards .show-more {
  margin: 0 auto 110px auto;
}



/* ------------------------------Recently Viewed Section */

.recently-viewed{
  margin-bottom: 85px;
}

.recently-viewed ul{
  margin: 43px auto 0 auto;
}

.recently-viewed li{
  margin: 0 auto 0 auto;
  padding: 13px 13px 51px 13px;
}

.recently-viewed .layout h3{
  padding: 0;
  font-family: 'Candara', sans-serif;
  font-size: 40px;
  line-height: 1.22;
  /* color: #484847; */
}



/* ------------------------------Product Card Page */

.arrow-back{
  width: 32px;
  transition: all 500ms ease-in-out;
}

.arrow-back:hover,
.arrow-back:focus{
  transform: rotate(360deg);
}

.product-info{
  margin: 18px auto 0 auto;
}

.product-info .description-main{
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px auto;
}

.description-main .img-holder{
  display: block;
  overflow: hidden;
  max-width: 460px;
  max-height: 410px;
}

.description-main .img-holder img{
  display: block;
  overflow: hidden;
  width: 100%;
}

.description-main .text{
  display: block;
  overflow: hidden;
  max-width: 552px;
  height: 100%;
}

.description-main .text .text-description{
  font-family: "Candara", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.22;
  color: var(--primary-text-color);
  text-align: left;
  max-width: 536px;
  max-height: 168px;
}

.description-main .text h3,
.description-main .text .price{
  font-family: "Candara", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
  color: var(--primary-text-color);
}

.star-rating{
  display: flex;
  align-items: center;
  width: 100px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 10px auto 10px 0;
  position: relative;
}

.star-rating input{
  display: none;
}

.star-rating > label {
  width: 20px;
  height: 20px;
  font-family: "Candara", sans-serif;
  font-size: 20px;
  transition: all 300ms ease-in-out;
}

.star-rating label:hover {
  background-image:url("../images/icon_star_color.png");
  transition: all 300ms ease-in-out;
}

.star-rating label:active::before {
  /* background-image:url("../images/icon_star_color.png"); */
  transform:scale(1.2);
}

.star-rating label::before {
  content: url("../images/icon_star.png");
  position: absolute;
  top: 0px;
  line-height: 20px;
}

.star-rating input:checked ~ label:before {
  content:url("../images/icon_star_color.png");
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
  font-size: 20px;
  line-height: 20px;
  }
}

.description-main .price-fav{
  display: flex;
  justify-content: space-between;
  margin: 43px 0 0 0;
}

.description-main .text .item-icon{
  background: url("../images/icon_favorite.png") center no-repeat;
  width: 39px;
  height: 39px;
  border: none;
}

.description-main .text .item-icon:hover{
  background: url("../images/icon_favorite_hover.png") center no-repeat;
  width: 39px;
  height: 39px;
  border: none;
}

.description-main form{
  display: flex;
  justify-content: space-between;
}

.description-main form input{
  width: 86px;
  height: 49px;
  font-family: "Candara", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-top: 42px;
  padding: 5px 17px 5px 17px;
}

.description-main .tobasket-btn-container {
  display: block;
  position: relative;
  width: 219px;
  height: 59px;
  border: 0.5px solid var(--primary-accent-color);
  margin: 24px 0 0 0;
}

.description-main .tobasket-btn-container button{
  font-family: "Candara", sans-serif;
  font-size: 26px;
  line-height: 1.5;
  width: 219px;
  height: 59px;
  padding: 10px 62px 10px 62px;
  margin: 8px 8px -8px -8px;
  color: var(--secondary-text-color);
  background-color: var(--primary-accent-color);
  /* background: url("../images/btn_to_basket.png") center no-repeat; */
  border: none;
  transition: all 300ms ease-in-out;
}

.description-main .tobasket-btn-container button:hover {
  transform: translateY(-8px) translateX(8px);
}

.description-main .tobasket-btn-container button:focus {
   outline: none;
}

.tabs {
  position: block;
  /* margin: 3rem 0; */
  /* background: #1abc9c; */
  max-width: 1074px;
  /* height: 487px; */
  margin: 50px 0 0 0;
  height:35rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  font-family: 'Candara', sans-serif;
  font-size: 26px;
  color: var(--primary-text-color);
  margin: 0 0 35px 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.ingridients .tab-label{
  margin-left:2px;
  margin-right: 85px;
}
.tab-label:hover {
  transition: all 300ms ease-in-out;
  text-decoration: underline;
  transform: scale(1.1);
}
.tab-content {
  position: absolute;
  z-index: 1;
  left: 0;
  background: #fff;
  opacity: 0;
  transition: all 350ms ease-in-out;
  font-size: 20px;
  line-height: 1.5;
}

.ingridients .tab-content{
  margin-bottom: 68px;
  max-width: 1074px;
  /* max-height: 420px; */
}
.tab-switch:checked + .tab-label {
  background: #fff;
  border-bottom: 0;
  /* border-right: 0.125rem solid #fff; */
  transition: all 350ms ease-in-out;
  z-index: 1;
  text-decoration: underline;
/* top: -0.0625rem; */
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 350ms ease-in-out;
}

.reviews button{
  width: 200px;
  height: 50px;
  padding: 13px 27px 13px 26px;
  margin-bottom: 46px;
  background-color: white;
  font-family: "Candara", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  word-wrap: normal;
  color: var(--primary-accent-color);
  transition: all 300ms ease-in-out;
  border: 0.5px solid var(--primary-accent-color);
}

.reviews button:hover{
  color: var(--secondary-text-color);
  background-color: var(--primary-accent-color);
}

.reviews .tab-content{
  margin-bottom: 61px;
}
.reviews .tab-content .review-description{
  display: flex;
  padding-bottom: 9px;
  width: 1012px;
  border-bottom: 0.5px solid var(--primary-accent-color);
}

.tab-content .review-description .reviewer{
  /* display:flex;
  justify-content: column; */
  width: 106px;
}

.reviews .tab-content .review-description .star-rating{
  display: flex;
  align-self: center;
  margin: 0 27px 0 40px;
}

.reviews .tab-content .review-description .text-review{
  max-width: 445px;
  margin-left: 27px;
  text-align: left;
}

.reviews .tab-content .show-more-btn {
  margin: 41px auto 0 auto;
}

.related-items{
  margin-bottom: 47px;
}

.related-items .layout h3{
  padding: 0;
  font-family: 'Candara', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.22;
  /* color: #484847; */
}

.related-items ul{
  margin: 30px 77px 0 77px;
}

.related-items li{
  margin: 0 auto 0 auto;
  padding: 13px 13px 51px 13px;
}



.delivery-payment{
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.delivery-payment .payment,
.delivery-payment .np-delivery{
  display: flex;
  flex-direction: column;
  width: 950px;
}

.delivery-payment .payment-title{
  width: 398px;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 47px;
  margin: 0 0 0 auto;
  background-color: var(--primary-accent-color);
}

.delivery-payment .payment-title h3{
  font-family: "Candara",sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
  color: var(--secondary-text-color);
}

.delivery-payment .delivery-payment-info{
  border: 1px solid var(--primary-accent-color);
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-left: 29px;
  padding-right: 29px;
  height: 448px;
}

.delivery-payment .delivery-payment-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 94%;
  font-family: "Candara",sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.23;
}

.delivery-payment .np-delivery .delivery-title{
  width: 398px;
  padding-top: 26px;
  padding-bottom: 27px;
  padding-left: 47px;
  margin: 0 auto 0 0;
  background-color: var(--primary-accent-color);
}

.delivery-payment .np-delivery .delivery-title h3{
  font-family: "Candara",sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
  color: var(--secondary-text-color);
}

.delivery-payment .np-delivery .delivery-title p{
  font-family: "Candara",sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
