/* Example */
/* @font-face {
    font-family: 'Corbel';
    src: url('../fonts/Corbel.eot');
    src: url('../fonts/Corbel.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Corbel.woff') format('woff'),
         url('../fonts/Corbel.ttf') format('truetype'),
         url('../fonts/Corbel.svg#Corbel') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'Candara';
    src: url('../fonts/Candara.woff2') format('woff2'),
        url('../fonts/Candara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Candara';
  src: url('../fonts/Candara-Light.woff2') format('woff2'),
      url('../fonts/Candara-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
